<?xml version="1.0"?>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" ng-style="style1" style="height:800px;width:180px;background-color:#1c87c9;">
      <!--Sidebar content-->
      <table>
      <td style="line-height:20px;" colspan="4">&nbsp;</td>
      <tr><td style="width:80px";>Username:</td></tr><tr><td><input type="text" name="datumMesec1"  ng-disabled="true" style="width:140px;" ng-model="uporabnik.uporabnik"></td></tr>
      <td style="line-height:50px;" colspan="4">&nbsp;</td>
      </table>
 

<table>
<!--<td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>-->
<td style="line-height:50px;" colspan=2>&nbsp;</td>
<!--
<tr><td>Mesec1:</td><td><input type="text" name="datumMesec1" style="width:50px;" ng-model="$ctrl.datum.mesec1"></td></tr>
<tr><td>Leto1:</td><td><input type="text" name="datumLeto1" style="width:50px;" ng-model="$ctrl.datum.leto1"></td></tr>
<tr><td>Mesec2:</td><td><input type="text" name="datumMesec2" style="width:50px;" ng-model="$ctrl.datum.mesec2"></td></tr>
<tr><td>Leto2:</td><td><input type="text" name="datumLeto2" style="width:50px;" ng-model="$ctrl.datum.leto2"></td></tr>
-->
<td style="line-height:15px;" colspan=2>&nbsp;</td>
<tr><td colspan="2">
<!--
<button ng-click="reload_page1($ctrl.datum)" class="btn btn-primary btn-xs">-></button>
<button ng-click="reload_page2($ctrl.datum)" class="btn btn-primary btn-xs">P</button>
<button ng-click="reload_page3($ctrl.datum)" class="btn btn-primary btn-xs">W</button></td>
</tr>
-->
<!--   <tr><td><a ng-href="{{myVar}}">"Dodaj račun"</a></td></tr>  -->
<!--
<td style="line-height:50px;" colspan=2>&nbsp;</td>
	<tr><td><button ng-style="style4" ng-click="nova_klavzula($ctrl.datum)" class="btn btn-primary btn-xs">Nova Klavzula</button></td></td></tr>	-->
</table> 
<button ng-style="Style4" style=" width:40px; height:40px;" ng-click="h1($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">H1</button>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="h2($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">H2</button>
   <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="h3($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">H3</button>
 </br>
  <p>&nbsp</p>
 <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="s1($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">S1</button>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="s2($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">S2</button>
   <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="s3($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">S3</button>
 </br>

 <p>&nbsp</p>
 <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="v1($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">V1</button>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="v2($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">V2</button>
   <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="v3($ctrl.k54, $ctrl.k55, $ctrl.k0)" class="btn btn-primary btn-xs">V3</button>
 </br>
 
 <p>&nbsp</p>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c1($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0 ,$ctrl.k00, $ctrl.sum, $ctrl.csum,1)" class="btn btn-primary btn-xs">C1</button>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c2($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C2</button>
   <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c3($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0,$ctrl.k00, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C3</button>
 </br>

 <p>&nbsp</p>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c4($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C4</button>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c5($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0,$ctrl.k00,$ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C5</button>
   <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c61($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C6</button>
 </br>

 <p>&nbsp</p>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c7($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C7</button>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c8($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C8</button>
   <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c9($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C9</button>
 </br>

 <p>&nbsp</p>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c10($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C10</button>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c11($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C11</button>
   <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="c12($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">C12</button>
 </br>


 <p>&nbsp</p>
 <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="m1($ctrl.k00, $ctrl.k54, $ctrl.k0)" class="btn btn-primary btn-xs">M1</button>
  <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="m2($ctrl.k54, $ctrl.k55, $ctrl.k56, $ctrl.k00, $ctrl.k0, $ctrl.sum)" class="btn btn-primary btn-xs">M2</button>
   <button ng-style="Style4" style=" width:40px; height:40px;" ng-click="m3($ctrl.k54, $ctrl.k55, $ctrl.sum, $ctrl.csum)" class="btn btn-primary btn-xs">M3</button>
 </br>


 
    </div>
    <div class="col-md-10">
      <!--Body content-->
		<!--	<input type="text" ng-model="leto1"/>	-->
		<pre ng-style="style2" style="background-color:#1c87c9;">{{" (" + $ctrl.sum.length + ") " + "LETO1:" + $ctrl.l1 + "  MESEC1:" + $ctrl.m1 + "     -    " + "  LETO2:" +$ctrl.l2+ "  MESEC2:" + $ctrl.m2}}</pre>
 
 <p>kocka</p>
 
      <div>
        <table>
            <tr ng-repeat="row in $ctrl.k54 track by $index" ng-init="ind0 = $index">
                <td ng-repeat="column in row track by $index" ng-init="ind1 = $index">
                <button ng-style="getStyle2($ctrl.k54, ind0,ind1)" style=" width:40px; height:40px;" ng-click="nova_klavzula($ctrl.datum)" class="btn btn-primary btn-xs" ng-model="$ctrl.k54[ind0][ind1]">{{$parent.$index}}</button>
                </td>
            </tr>
        </table>
    </div>


 <p>kocka1</p>
 <p>&nbsp</p>
      <div>
        <table>
            <tr>
                <td ng-repeat="column in $ctrl.button track by $index" ng-init="ind1 = $index">
                <button ng-style="" style=" width:40px; height:40px;" ng-click="c4($ctrl.k54, $ctrl.k55,$ctrl.k56,$ctrl.k0, $ctrl.sum, $ctrl.csum, $index)" class="btn btn-primary btn-xs">{{$ctrl.button[$index]}}</button>
                </td>
            </tr>
        </table>
    </div>


<div>

 <p>kocka2</p>
 <p>&nbsp</p>

 </div>
 
 <!--
  <p>kocka</p>
 
      <div>
        <table>
            <tr ng-repeat="row in $ctrl.k00 track by $index" ng-init="ind0 = $index">
                <td ng-repeat="column in row track by $index" ng-init="ind1 = $index">
                <button ng-style="getStyle2($ctrl.k56, ind0, ind1)" style=" width:40px; height:40px;" ng-click="nova_klavzula($ctrl.datum)" class="btn btn-primary btn-xs">{{$parent.$index}}</button>
                </td>
            </tr>
        </table>
    </div>
    -->

 
 <p>&nbsp&nbsp</p>
      <div>
        <table>
            <tr ng-repeat="itemA in $ctrl.sum track by $index" ng-init="indA = $index">
            <!--  <td><p>TEST&nbsp&nbsp</p></td>   -->
            
            <td><table><tr><td><p>{{indA}}</p></td></tr>
            <tr>
            	<td><table>
 	           <tr ng-repeat="row in itemA track by $index" ng-init="ind0 = $index">
 	           <!--	<td><p>{{ind0}}</p></td>	-->
 	               <td ng-repeat="column in row track by $index" ng-init="ind1 = $index">
		                <button ng-style="getStyle3($ctrl.sum[indA], $ctrl.csum[indA+1], ind0, ind1)" style=" width:40px; height:40px;" ng-click="nova_klavzula($ctrl.datum)" class="btn btn-primary btn-xs" ng-model="$ctrl.csum[indA+1][ind0][ind1]">{{($ctrl.csum[indA+1][ind0][ind1][0])}}</button>
		                <!--
		                		                <button ng-style="getStyle2($ctrl.sum[indA], ind0, ind1)" style=" width:40px; height:40px;" ng-click="nova_klavzula($ctrl.datum)" class="btn btn-primary btn-xs">{{$parent.$index}}</button>

-->
	                </td>
	            </tr>
	           </table></td>
	    <tr>
	    </td></table>
	           
	    </tr>
        </table>
    </div>

 <p>&nbsp&nbsp</p>


 <button ng-style="style4" style="color:#1111AA" ng-click="nova_klavzula($ctrl.datum)" class="btn btn-primary btn-xs">&#x2585</button>
 </br>
  <button ng-style="style4" style="color:#1111AA; width:20px; height:20px;" ng-click="nova_klavzula($ctrl.datum)" class="btn btn-primary btn-xs"></button>
  </br>
  <div>
  <table border=1><tr><td>1</td><td>2</td><td>3</td></tr>
  <tr><td>4</td><td>5</td><td>6</td></tr>
  <tr><td>7</td><td>8</td><td>9</td></tr>
  
  <tr><td>
    <table border=1><tr><td>1</td><td>2</td><td>3</td></tr>
  <tr><td>4</td><td>5</td><td>6</td></tr>
  <tr><td>7</td><td>8</td><td>9</td></tr>
  </table>
  </td></tr>
  
  </table>
  </div>
  
    <div>
        <table>
            <tr ng-repeat="row in items">
                <td ng-repeat="column in row">{{column}}</td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr ng-repeat="row in k54 track by $index">
                <td ng-repeat="column in row track by $index">{{column}}</td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr ng-repeat="row in k54 track by $index">
                <td ng-repeat="column in row track by $index">
                <button ng-style="style4" style="color:#1111AA; width:20px; height:20px;" ng-click="nova_klavzula($ctrl.datum)" class="btn btn-primary btn-xs"></button>
                </td>
            </tr>
        </table>
    </div>
 
 
    </div>
  </div>
</div>
